h1{color:#d90429;font-size:50px}
#p1{color:#2b2d42;font-size:30px}
.p2{color:#8d99ae;font-size:23px}
body{background-color:black}

.man{color:salmon;font-size:20px}
.mah{color:salmon;font-size:20px}
.war{color:salmon;font-size:20px}
.hash{color:salmon;font-size:20px}
.mlu{color:salmon;font-size:20px}
#piz{color:red;font-size:20px;background:yellow}

.sidebar{background-color:white}

.title{height:60px; width:100%}
.container{position:relative; height:1000px}
.sidebar{position:absolute; top:0px; left:0px; width:50%; height:100%}
.content{position:absolute; left:50%}